:root {
  --primary: #059970;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  color: var(--dark);
  background: url("./components/Nav/store.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  border: none;
  background: lightblue;
  border-radius: 3px;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background-image: linear-gradient(#a9e0bc, #3cb772, #059970);
  justify-content: space-between;
}

header a {
  color: var(--light);
}
ul {
  list-style: none;
  padding-right: 90px;
  padding-left: 0;
}

.remove {
  color: red;
}

.item_name {
  background: lightblue;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.detail_main h2 {
  background: lightblue;
  margin: auto;
}

.detail_main p {
  margin: auto;
  border-radius: 0px;
}

.detail_main {
  padding-top: 14px;
}

.detail_main .back_button {
  border-radius: 3px;
  background: lightblue;
  width: 12%;
  margin-bottom: 12px;
  margin-left: 12px;
}

button {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: lightblue;
  color: var(--tertiary);
  font-weight: bold;
}

.cart_button {
  width: 100%;
}
.button_for_Checkout {
 border-radius: 3px;
 border: solid black thin;
 width: 100%;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

header img {
  padding: 8px;
}

img {
  max-height: 95px;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}
/* .layer1 {
  z-index: 0;
  position: absolute;
  max-height: 20%;
  width: 20%;
  align-self: center;
  background-position-y: 10px;
}

.cart_button {
  z-index: 1;
  position: relative;
} */

.side_drawer {
  height: 80%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  max-width: 400px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.side_drawer button {
  margin: 0 30px;
}
.side_drawer h2 {
  margin: 0 13 px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

/* div {
  border: blue thin solid;
} */
.drop_button {
  padding-right: 0px;
}

.cat_ball:active {
  transform: rotate(-360deg);
  transition-duration: 1s;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
  padding: 30px 20px 0px 20px;
}

.error-text {
  color: var(--error);
}
@media screen and (max-width: 1440px) {
  .card {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .card {
    width: 25%;
  }
}

@media screen and (max-width: 738px) {
  .card {
    width: 33.3%;
  }
  body {
    background-position-x: -505px;
    position: relative;
  }
  header {
    background-image: linear-gradient(#a9e0bc, #46be72);
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 528px) {
  header {
    background-image: linear-gradient(#a9e0bc, #3cb772, #059970);
    justify-content: space-evenly;
  }
  body {
    background-position-x: -666px;
  }
}

@media screen and (max-width: 425px) {
  header {
    background-image: linear-gradient(#a9e0bc, #3cb772, #059970);
    display: flex;
  }
  body {
    background-position-x: -966px;
  }
}

@media screen and (max-width: 375px) {
  body {
    background-position-x: -986px;
  }
  .card {
    width: 50%;
  }
}
